<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macro for inertial properties of a box -->
  <xacro:macro name="inertial_box" params="mass x y z *origin">
    <inertial>
      <xacro:insert_block name="origin"/>
      <mass value="${mass}"/>
      <inertia ixx="${mass/12 * (y**2 + z**2)}" ixy="0" ixz="0"
               iyy="${mass/12 * (x**2 + z**2)}" iyz="0"
               izz="${mass/12 * (x**2 + y**2)}"/>
    </inertial>
  </xacro:macro>

  <!-- Macro for inertial properties of a cylinder -->
  <xacro:macro name="inertial_cylinder" params="mass length radius *origin">
    <inertial>
      <xacro:insert_block name="origin"/>
      <mass value="${mass}"/>
      <inertia ixx="${mass/12 * (3*radius**2 + length**2)}" ixy="0" ixz="0"
               iyy="${mass/12 * (3*radius**2 + length**2)}" iyz="0"
               izz="${mass/2 * radius**2}"/>
    </inertial>
  </xacro:macro>

  <!-- Macro for inertial properties of a sphere -->
  <xacro:macro name="inertial_sphere" params="mass radius *origin">
    <inertial>
      <xacro:insert_block name="origin"/>
      <mass value="${mass}"/>
      <inertia ixx="${mass/5 * radius**2}" ixy="0" ixz="0"
               iyy="${mass/5 * radius**2}" iyz="0"
               izz="${mass/5 * radius**2}"/>
    </inertial>
  </xacro:macro>

</robot>
